/* This is all of the styling that will be done in the index.html file */
/* Get rid of the default margin that the browser does */
body {
    margin:0;
    background-image: url("../images/Temple_Obsidian.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
    background-attachment: fixed;
}


/* Target the <ul> element in the navigation div */
#navigation ul{
    /* get rid of bulletpoints */
    list-style-type: none;
    margin: 0;
    padding: 0;
    /* overflow is clipped and elements cant overflow */
    overflow: hidden;
    /* colour of the background */
    background-color: #FFB6E6;
    /* position is always in place */
    /* position: fixed; */
    top: 100;
    /* takes 100% of the browser's page */
    /* width: 100%; */
    /* adds a border */
    border-bottom: 2px solid #f774c9;
    border-top: 2px solid #f774c9;
}

/* Target all of the <li> elements in the navigation div */
#navigation li{
    /* position all of the li elements to the left */
    float: left;
    width: 24.7%; 
    border-right: 2px solid #f774c9;
    /* add a bottom border with a solid hex colour */
}


/* Target all the <a> elements in the <li> in the navigation div */
#navigation li a{
    /* Display this as a block */
    display: block;
    /* All text is white */
    color: #A140CF;
    /* align the text to be in the center */
    text-align: center;
    /* add some white space around */
    padding: 24px 26px;
    /* get rid of the link underline */
    text-decoration: none;
    font-size: 180%;
    font-family: 'Rancho' ;
}

#navigation li a:hover{
    color: rgb(115, 45, 148);
    background-color: rgb(255, 136, 213);
}

/* Main container */
.container{
    /* set to be the full size of the browser page */
    width: 100%;
    height: 100%;
    /* move a 100px down from the top margin */
    background-color: #aaeefa;
    background-image: url("../images/Cloud.png");
    background-size: 122px 66px;
    background-repeat: no-repeat;
    animation-name: cloud;
    animation-duration: 30s;
    background-position-y: 70%;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

/* Image div */
#image{
    /* Move left and make it 10% of the container */
    float: left;
    padding: 5px;
}



/* Main text div */
#main{
    /* Change the size to be automatic which is reflected on the block before it (image) */
    padding: 20px 0;
    text-align: center;
}
#main a{
        text-decoration: none;
        color: rgb(255, 196, 0);
        font-family: 'Permanent Marker';
        text-shadow: 2px 5px 0 rgb(177, 135, 0);
        font-size: 170%;
} 

#mainpage{
    margin-top: 100px;
}

#RoseQuartz{
    margin: 30px 30px 30px 30px;
    border: 3px solid #f774c9;
    background-color: rgb(255, 225, 242);
    height: 350px;
    position: relative;
    overflow: hidden;
    border-radius: 50px 10px 50px 10px;
}
#Amethyst{
    margin: 30px 30px 30px 30px;
    border: 3px solid #8722b6;
    background-color: rgb(225, 189, 251);
    height: 350px;
    position: relative;
    overflow: hidden;
    border-radius: 50px 10px 50px 10px;
}
#Garnet{
    margin: 30px 30px 30px 30px;
    border: 3px solid #f6055e;
    background-color: rgb(255, 132, 193);
    height: 350px;
    position: relative;
    overflow: hidden;
    border-radius: 50px 10px 50px 10px;
}
#Pearl{
    margin: 30px 30px 30px 30px;
    border: 3px solid #99c8ff;
    background-color: rgb(255, 241, 221);
    height: 350px;
    position: relative;
    overflow: hidden;
    border-radius: 50px 10px 50px 10px;
}

.textbox{
    font-family: 'Architects Daughter';
    color: rgb(124, 0, 182);
    font-size: 130%;
    padding-right: 4px;
}



#videos{
    margin: 30px 30px 30px 30px ;
    border: 3px solid #99c8ff;
    background-color: rgb(255, 225, 242);
    height: 500px;
    width: 93%;
    position: relative;
    overflow: hidden;
    border-radius: 50px 10px 50px 10px;
}

#News{
    margin: 30px 30px 30px 5px;
    border: 3px solid #99c8ff;
    background-color: rgb(255, 225, 242);
    width : 20%;
    height: 100%;
    min-height: 500px;
    position: relative;
    float: right;
    overflow-y: scroll;
    overflow-x: hidden;
    text-align: center;
    border-radius: 20px 10px 20px 20px;

}

#homep{
    margin: 30px 10px 30px 30px ;
    border: 3px solid #99c8ff;
    background-color: rgb(255, 225, 242);
    height: 100%;
    width: 65%;
    position: relative;
    overflow: hidden;
    border-radius: 50px 10px 50px 10px;
    padding: 0px 20px 0px 20px;
}

.dropdown-content {
  display: none;
  background-color: #f1f1f1;
  position: absolute;
  width: 24.6%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin-left:25%;
  margin-top:85px;
  overflow: hidden;
  height: 0px; 
  animation-name: example;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.dropdown-content a {
  color: #A140CF;
  background-color: #FFB6E6;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
    background-color: rgb(255, 136, 213);
    color: rgb(115, 45, 148);
}

.dropdown:hover .dropdown-content {
    
    display: block;
}

@keyframes example {
  from {height: 0px;}
  to {height: 127px;}
}

@keyframes cloud {
    from{background-position-x: -20%}
    to{background-position-x: 120%}
    100%{
        background-position-y: 30%;
    }
}
